@import 'tailwindcss';
@import '@fontsource/fira-mono';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@font-face {
	font-family: 'Block Blueprint';
	src: url('/fonts/BlockBlueprint.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Joystix';
	src: url('/fonts/joystix monospace.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'New Mozane';
	src: url('/fonts/new_monzane.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Pixel Grid Square Bold M';
	src: url('/fonts/pixelgrid-squareboldm.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Pixel Grid Square Bold S';
	src: url('/fonts/pixelgrid/pixelgrid-squarebolds.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Ari W9500 Bold';
	src: url('/fonts/ari-w9500-bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


:root {
	--font-pressstart2p: 'Press Start 2P', normal; 
	--font-blockblueprint: 'Block Blueprint', sans-serif; 
	--font-joystix: 'Joystix', sans-serif;
	--font-montserrat: 'Montserrat', sans-serif;
	--font-playfairdisplay: 'Playfair Display', medium;
	--font-inter: 'Inter', sans-serif;
	--font-pixelify: 'Pixelify Sans', sans-serif;
	--font-pixelgrid: 'Pixel Grid Square Bold M', sans-serif;
	--font-newmonzane: 'New Mozane', sans-serif;
	--font-ariw9500: 'Ari W9500 Bold', sans-serif;

	--color-bg:#a2e1bd;   
	--color-text:#1e2e25;  
	--color-primary:#504def;  
	--color-accent-1:#dfffdd;  
	--color-accent-2:#ef4d52; 
	--color-tile:#cdfbc8;   

	--color-access-yellow: #f2b500; 
	--color-access-black: #000000;
}

[data-theme='dark'] {
	--color-bg: #232333;
	--color-text: #f5f5f5;
	--color-primary: #caa9fa;
	--color-accent-1: #8be9fd;
	--color-accent-2: #fab387;
	--color-tile: #1e1e2e;
}

html {
	font-family: var(--font-joystix);
	background-color: var(--color-bg);
	color: var(--color-text);
	transition: background-color 0.3s ease, color 0.3s ease;
}

html[data-contrast='1'] {
	--color-bg: var(--color-access-black);     
	--color-text: var(--color-access-yellow);  
	--color-primary: var(--color-access-yellow);
	--color-accent-1: var(--color-access-yellow);
	--color-accent-2: var(--color-access-yellow);
	--color-tile: var(--color-access-black);   
}

html[data-contrast='2'] {
	--color-bg: var(--color-access-yellow);
	--color-text: var(--color-access-black);
	--color-primary: var(--color-access-black);
	--color-accent-1: var(--color-access-black);
	--color-accent-2: var(--color-access-black);
	--color-tile: var(--color-access-yellow);
}

[data-underline-links='true'] a {
	text-decoration: underline !important;
	text-decoration-thickness: 2px !important; 
	text-underline-offset: 4px; 
}

[data-reduce-motion='true'] * {
	transition: none !important;
	animation: none !important;
}

[data-reduce-motion='true'] {
	scroll-behavior: auto !important;
}
